/* //outerdiv// display:inline-block; margin: 2px ; padding: 10px 0px ;  width: 100%; position : relative; */
/* //innerdiv1// width: 700px;border: 5px solid red; left:10%;position:absolute; */
 /* //innerdiv2// width:500px; background-color: #38444d; color:white ;left:58%; right:10%; border: 5px solid black; padding: 0px 5px; position:relative */

 
  


body{
    background-color: lightblue;
    margin: 0px;
}

#htmldiv {
  background-color:#d9eee1; 
  display:inline-block;
  padding: 10px 0px ;
  width: 100%;
  position : relative;
}

.subClassA  {
    text-align: center;
    margin: 5px 0px;
    font-size: 60px;
    
}
.subClassB {
  text-align: center;
  margin: 5px 0px;  
    margin-top: none;
}
.subClass1 {
    
    background-color: green;
    color: white;
    font-size: 20px;
    margin-left: 150px;
    margin: top 5px bottom 5px ;
    border-radius: 25px;
    width: 200px;
    text-align: center;
}
.subClass2 {
    
    background-color: yellow;
    color: black;
    font-size: 20px;
    margin-left: 150px;
    border-radius: 25px;
    width: 200px;
    text-align: center;
}
.subClass3 {
    
    background-color: black;
    color: white;
    font-size: 20px;
    margin-left: 150px;
    border-radius: 25px;
    width: 200px;
    text-align: center;
}
.subClass4 {
    
    background-color: pink;
    color: black;
    font-size: 20px;
    margin-left: 150px;
    border-radius: 25px;
    width: 200px;
    text-align: center;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: red;
  }